@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


body {
	margin: 0;
	font-family: "Inter", sans-serif;
	padding: 0;
	margin-top: 30px;
	font-weight: 400;
	font-family: "Inter", sans-serif;
}

/* MENY */

#container {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-rows: 30% auto;
	grid-template-areas: 
	"nav"
	"menu";
}

/* MENY NAV */

#nav {
	grid-area: nav;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

#logo {
	height: 90%;
}

#basket {
	background-image: url("images/tonys-pizza-basket.svg");
	display: block;
	width: 15vh;
	height: 15vh;
}

/* MENY MAIN */

#menu {
	grid-area: menu;
	display: grid;
	padding: 1rem 15% 1rem 0;
	grid-template-columns: repeat(2, 50%);
	grid-template-rows: auto;
	
}

.pizzaDiv {
	justify-self: center;
	height: min-content;
	width: 70%;
	margin: 1rem;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.pizzaSvg {
	width: 50%;
}

.pizzaSection {
	padding: 1rem;
}

.pizzaTitle {
	margin: 0 0 8px 0;
	font-size: 2.5vh;
}

.pizzaIngridient {
	margin: 4px 0 0 0;
	font-size: 2vh;
}

.buttonDiv {
	padding-top: 0.5rem;
	padding-left: 5px;
	padding-right: 5px;
	width: 100%;
	display: flex;
}

.button {
	margin-right: 1rem;
	font-size: 2vh;
	text-decoration: none;
	padding: 6px 10px 6px 10px;
	border-radius: 0.3rem;
}

.button:visited {
	color: black;
}

.customize {
	background-color: #ffecc3;
}

.buy {
	background-color: #4aac42;
}


/* Kundvagn */

.kundvagn-header{
	font-size: 50px;
	font-weight:500;
}

.kundvagn-wrapper{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.kundvagn-main-container{
	margin-top: 3vh;
	display: grid;
	grid-template-columns:repeat(2, 50%);
	grid-gap:80px
}

.kundvagn-form-main{
	display: flex;
	padding: 15px;
	width: 250px;
	height: 300px;
	background-color: #FFE9BB;
	border-radius: 20px;
	align-self: center;
	font-size: 20px;
	font-weight: 500;
}

.kundvagn-form-main form input {
	border: 1px solid rgba(0, 0, 0, 0.33);
	height: 30px;
	border-radius: 20px;
	padding: 12px 20px;
	
	box-sizing: border-box;
}

.kundvagn-pizza {
	display: flex;
	flex-direction: row;
	border: 2px solid #9e8c647e  ;
	border-radius: 15px;
	padding-bottom: 1rem;
	padding-right: 1rem;
	margin-bottom: 15px;
	min-width: 360px;
}

.pizza-button-wrapper{
	margin-left: 30px;
	display: grid;
	grid-template-columns: repeat(2, 50%);
	grid-gap: 10px;
	align-items: end;
}

.pizza-button-wrapper button {
	width: 70px;
	height: 30px;
	border-radius: 12px;
	border: none;
}

.submit-order-button{
	width: 90px;
	height: 35px;
	border-radius: 12px;
	border: 2px solid rgba(3, 94, 15, 0.133);
	background-color:#6BFF5F ;
	font-size: 18px;
	font-weight: 500;
}

.button-anpassa {
	background-color: #FFE9BB ;
}

.button-anpassa:hover {
	cursor: pointer;
}

.button-tabort { 
	background-color: #FD6666 ;
}

.button-tabort:hover {
	cursor: pointer;
}

.pizza-name{
	font-size: 1.2rem;
	font-weight: 600;
	margin-bottom: 0rem;
	margin-left: 0.5rem;
}

.order-subheading {
	font-size: 1rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	margin-left: 1rem;
}

.ingredients {
	list-style-type:disc;
}

.kundvagn-meny-button {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 15px;
	left: 20px;
	width: 90px;
	height: 35px;
	border-radius: 12px;
	border: 2px solid rgba(3, 94, 15, 0.133);
	background-color:#6BFF5F ;
	font-size: 18px;
	font-weight: 500;
	text-decoration: none;
	color: black;
}

/* KOK */

#bra_grid {
	display: grid;
	grid-template-rows: 15vh auto;
	grid-template-areas: 
	"kok_nav"
	"kok_main";
}

.bra_container {
	width: 100%;
	height: auto; /* Allow container to expand with content */
	background-color: #FFF;
	grid-area: kok_main;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#kok_nav {
	grid-area: kok_nav;
	display: flex;
	flex-direction: column;
}

.bra_order {
	background-color: #ffecc4;
	margin: 2rem;
	display: flex;
	flex-direction: column;
	border: 2px solid #9e8c647e;
	border-radius: 15px;
	padding: 5px;
	padding-right: 15px;
	margin-bottom: 15px;
	min-width: 360px;
}

/* Adjusted CSS for the <h1> element and <p> element */
.bra_title {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px; /* Add margin to separate title and text */
}

.bra_text {
	margin-bottom: 10px; /* Add margin between title and text */
}

/* New CSS for the buttons */
.bra_form {
	display: flex;
	justify-content: space-around; /* Position buttons side by side */
}

.bra_bild {
	height: 100%;
}

.bra_input{
	width: 100px;
	height: 40px;
	background-color: #4CAF50;
	color: #fff;
	border: none;
	cursor: pointer;
}

.bra_text {
	padding: 0.5rem;
}

/* ANPASSA */

#customize-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.anpassaLabel {
	display: flex;
	flex-direction: row;
}
